<div class="jumbotron col-sm-6 col-sm-offset-3 text-center transparent-bg">
    <h1 class="text-head">First Player</h1>
    <div class="col-sm-12">
        <form>
            <div class="form-group">
                <input class='form-control' [(ngModel)]="username" name="fitst" placeholder='Github Username' type='text' />
            </div>
            <div class="form-group col-sm-4 col-sm-offset-4">
                <button class="btn btn-block btn-success" type="submit" routerLink="/second" [queryParams]="{user: username}">
            Continue
        </button>
            </div>
        </form>
    </div>
</div>